In [1]:
import pandas as pd
import numpy as np

In [2]:
# Não é possível ler um arquivo com acentuação latina
file='/home/diego/workspace/python/estudo_ciencia_de_dados/Datasets/Diarias.csv'
diarias = pd.read_csv(file, sep='\t')
diarias.head(6)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf3 in position 1: invalid continuation byte

In [4]:
# Por isso usamos o encoding latin-1 para ler o dataset com acentos
file='/home/diego/workspace/python/estudo_ciencia_de_dados/Datasets/Diarias.csv'
diarias = pd.read_csv(file, encoding='latin-1', sep='\t')
diarias.head()

,Código Órgão Superior,Nome Órgão Superior,Código Órgão Subordinado,Nome Órgão Subordinado,Código Unidade Gestora,Nome Unidade Gestora,Código Função,Nome Função,Código Subfunção,Nome Subunção,...,Nome Programa,Código Ação,Nome Ação,Linguagem Cidadã,CPF Favorecido,Nome Favorecido,Documento Pagamento,Gestão Pagamento,Data Pagamento,Valor Pagamento
0,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.008.30*-**,HUMBERTO GUEDES CAMPELO,2017OB800780,1,06/02/2017,"1263,20"
1,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.008.30*-**,HUMBERTO GUEDES CAMPELO,2017OB800993,1,20/02/2017,"2325,20"
2,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.016.72*-**,ANTONIO JOSE DE SENA BOMFIM,2017OB800926,1,14/02/2017,"300,20"
3,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.029.67*-**,CINTIA MACEDO DE OLIVEIRA REBELO,2017OB800864,1,08/02/2017,"344,72"
4,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.037.81*-**,LEONARDO ALVES RANGEL,2017OB801015,1,21/02/2017,"476,03"

In [5]:
type(diarias)

pandas.core.frame.DataFrame

In [6]:
# Tamanho
diarias.shape

(38745, 21)

In [7]:
# Tipos
diarias.dtypes

Código Órgão Superior        int64
Nome Órgão Superior         object
Código Órgão Subordinado     int64
Nome Órgão Subordinado      object
Código Unidade Gestora       int64
Nome Unidade Gestora        object
Código Função                int64
Nome Função                 object
Código Subfunção             int64
Nome Subunção               object
Código Programa              int64
Nome Programa               object
Código Ação                 object
Nome Ação                   object
Linguagem Cidadã            object
CPF Favorecido              object
Nome Favorecido             object
Documento Pagamento         object
Gestão Pagamento             int64
Data Pagamento              object
Valor Pagamento             object
dtype: object

### Podemos pensar que métodos(utilização de parênteses) são ações, enquanto propriedades(sem parênteses) são o que o dataframe é.

In [8]:
file='/home/diego/workspace/python/estudo_ciencia_de_dados/Datasets/movies.csv'
filmes = pd.read_csv(file)
filmes.head()

,star rating,title,content rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [9]:
filmes.describe()

       star rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [10]:
filmes.shape

(979, 6)

In [11]:
filmes.dtypes

star rating       float64
title              object
content rating     object
genre              object
duration            int64
actors list        object
dtype: object

### Verificando atibutos e métodos

In [12]:
# métodos podem receber argumentos
filmes.describe(include=['object'])

,title,content rating,genre,actors list
count,979,976,979,979
unique,975,12,16,969
top,Les Miserables,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [ ]:
# como saber os argumentos de um metodo?
# Posicione o cursor entre os parenteses e pressione shift + tab 3x

filmes.describe()

In [14]:
# verifique a diferença entre dados categóricos e numéricos

### Renomeando colunas no pandas

In [15]:
filmes.columns

Index(['star rating', 'title', 'content rating', 'genre', 'duration',
       'actors list'],
      dtype='object')

In [16]:
filmes.rename(columns={'star rating': 'star_rating', 'content rating': 'content_rating'})

,star_rating,title,content_rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [17]:
filmes.columns

Index(['star rating', 'title', 'content rating', 'genre', 'duration',
       'actors list'],
      dtype='object')

A transformação não vai ocorrer, pois estamos modificando o dataframe original. O pandas não permite essa operação, a não ser que ela seja explicita, ou seja, devemos forçar a alteração

    1- Atribuir o resultado a uma nova variavel, ou seja, um novo dataframe
    2- Utilizar o argumento inplace=True forçando a alteração

In [19]:
filmes.rename(columns={'star rating': 'star_rating', 'content rating': 'content_rating'}, inplace=True)

Podemos, também, passar alista de colunas EXPLICITAMENTE

In [20]:
colunas_filmes = ['star rating', 'title', 'content rating', 'genre', 'duration', 'actors list']
filmes.columns = colunas_filmes
filmes.columns

Index(['star rating', 'title', 'content rating', 'genre', 'duration',
       'actors list'],
      dtype='object')

Podemos renomear as colunas no momento da LEITURA do arquivo

In [21]:
colunas_filmes = ['star_rating', 'title', 'content_rating', 'genre', 'duration', 'actors_list']

file='/home/diego/workspace/python/estudo_ciencia_de_dados/Datasets/movies.csv'
filmes = pd.read_csv(file, header=0, names=colunas_filmes)
filmes.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

### Real World

É muito comum termos arquivos com várias colunas e a 
operação de renomear uma a uma fica inviável. 
Podemos então, utilizar funções python para trabalharmos 
com as colunas.

In [22]:
file='/home/diego/workspace/python/estudo_ciencia_de_dados/Datasets/movies.csv'
filmes = pd.read_csv(file)
filmes.head()

filmes.columns = filmes.columns.str.replace(' ', '_')
filmes.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

### Removendo colunas do dataframe

Por boa prática, ao realizar alguma alteração no dataframe, devemos atibuir a uma variavel,
assim é possivel rastrear as mudanças e tambem voltar ao ultimo passo.
Aqui tabme podemos utilizar o inplace=True

Axis = 1 - colunas / Axis = 0 - linhas

In [23]:
filmes01 = filmes.drop('content_rating', axis=1)
filmes01.head()

,star_rating,title,genre,duration,actors_list
0,9.3,The Shawshank Redemption,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

Removendo mais de uma coluna

In [24]:
filmes02 = filmes01.drop(['duration', 'actors_list'], axis=1)
filmes02.head()

   star_rating                     title   genre
0          9.3  The Shawshank Redemption   Crime
1          9.2             The Godfather   Crime
2          9.1    The Godfather: Part II   Crime
3          9.0           The Dark Knight  Action
4          8.9              Pulp Fiction   Crime

### Removendo linhas do dataframe

In [25]:
filmes02.head()

   star_rating                     title   genre
0          9.3  The Shawshank Redemption   Crime
1          9.2             The Godfather   Crime
2          9.1    The Godfather: Part II   Crime
3          9.0           The Dark Knight  Action
4          8.9              Pulp Fiction   Crime

In [26]:
filmes03 = filmes02.drop([0,1], axis=0)
filmes03.head()

   star_rating                           title    genre
2          9.1          The Godfather: Part II    Crime
3          9.0                 The Dark Knight   Action
4          8.9                    Pulp Fiction    Crime
5          8.9                    12 Angry Men    Drama
6          8.9  The Good, the Bad and the Ugly  Western