OS SETS SÃO CONJUNTOS ÚNICOS. SEMELHANTES À UM SELECT DISTINCT, E SÃO MUITO USADOS EM ANÁLISE DE DADOS

In [1]:
conjunto = set()

In [2]:
conjunto.add('Java')
conjunto.add('R')
conjunto.add('Python')

In [3]:
print(conjunto)

{'Python', 'R', 'Java'}

In [4]:
# TENTANDO ADD UM ELEMENTO REPETIDO
conjunto.add('Java')

In [5]:
print(conjunto)

{'Python', 'R', 'Java'}

In [6]:
# SET NÃO SUPORTA INDICE
conjunto[1]

TypeError: 'set' object does not support indexing

In [7]:
engenheiros = set(['João', 'Jane', 'Clara', 'Celia'])
programadores = set(['Clara', 'Sam', 'Susan', 'Celia'])
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])

In [8]:
engenheiros

{'Celia', 'Clara', 'Jane', 'João'}

In [9]:
# UNIÃO
funcionarios = engenheiros | programadores | gerentes

funcionarios

{'Celia', 'Clara', 'Jane', 'João', 'Sam', 'Susan', 'Zack'}

In [10]:
# INSERÇÃO
gerencia_de_emergencia = engenheiros & gerentes

gerencia_de_emergencia

{'Clara', 'Jane'}

In [11]:
# DIFERENÇA

gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])
engenheiros = set(['João', 'Jane', 'Clara', 'Celia'])

a = gerentes - engenheiros

a

{'Susan', 'Zack'}

In [12]:
gerentes = set(['Jane', 'Clara', 'Susan', 'Zack'])
programadores = set(['Clara', 'Sam', 'Susan', 'Celia'])

b = gerentes - programadores

b

{'Jane', 'Zack'}